.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.986);
  transition: all 0.3s ease;
  margin: 0 4px;
  border-radius: 9999px;
}
.swiper-pagination-bullet-active {
  background-color: #ef4444; 
  transform: scale(1.25);
}

.swiper-pagination {
  bottom: 10px !important;
  top: auto !important;
}